<!doctype html>
<html>
  {% include head.html %}
  <body>

    <div id="header" class="halfscreen" tabindex="-1">
      <div id="fullscreen-button" class="enter"></div>
      <div id="close-header-button"></div>
    </div>

    <div id="main-wrapper">
      {{ content }}
    </div>

    <script src="/js/mobile-detect.min.js"></script>
    <script src="/js/three.min.js"></script>
    <script src="/js/Detector.js"></script>
    <script src="/js/controls.js"></script>
    <script src="/js/physics.js"></script>
    <script src="/js/OBJLoader.js"></script>
    <script src="/js/sceneLoader.js"></script>
    <script src="/js/envGenerator.js"></script>
    <script src="/js/stage.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>
